<h1><%= @album.name %></h1>

<ul>
  <% @album.pictures.each do |picture| %>
  <li>
    <%= link_to(image_tag(picture.url, :width => "300px"), album_picture_path(picture)) %> - 
    <%= link_to "Edit", edit_album_picture_path(@album,picture) %>
  </li>
  <% end %>
</ul>

<h2>Add a Picture</h2>
<%= form_for(Picture.new, :url => album_pictures_path(@album) do |f| %>
<%= f.hidden_field :album_id, {:value => @album.id} %>

change to 
	<%= form_for([@album, @album.pictures.build]) do |f| %>
<p>
	<%= f.text_field :url %>
</p>

<p> <%= f.submit %> </p>
<% end %>
              
why not Picture.new? we don't want a blank, we want the actual one: 